<h1 class="animated fadeIn fast">About Commics Apps</h1>
<hr>

<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, dolorem enim atque ad excepturi voluptate qui tenetur nesciunt, quibusdam quisquam molestias temporibus earum ullam amet quas accusamus laboriosam voluptatibus voluptatem!
</p>
