<div class="card animated fadeIn fast">
    <img class="card-img-top" src="{{heroe.img}}" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}} - {{heroe.casa}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text">
        <small class="text-muted">{{heroe.aparicion}}</small>
      </p>

      <!-- <a [routerLink]="['/detail', i]" class="btn btn-outline-primary btn-block">see more.....</a> -->
      <button (click)="HeroeDetail()" type="button" class="btn btn-outline-primary btn-block"> Description</button>

    </div>
  </div>
