<h1>Heroes
  <small>Marvel/DC</small>
</h1>
<hr>
<div class="card-columns">
    <app-card (heroesSelect)="HeroeDetail($event)" [heroe]="item" [Index]="i" *ngFor="let item of ListHeroes; let i = index"></app-card>
</div>
