<h1>Search:
  <small>{{search}}</small>
</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="!ListHeroes.length">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      il n'y a pas de personnage avec le nom: {{search}}.
    </div>
  </div>
</div>

<div class="card-columns">
  <app-card [heroe]="item" [Index]="item.idx" *ngFor="let item of ListHeroes"></app-card>
</div>
